{{ define "main" }}
  {{- partial "hero.html" . -}}
  {{- partial "social.html" . -}}
  <div class="my-4 max-w-5xl mx-auto">{{ .Content }}</div>
  <section class="my-4 max-w-5xl mx-auto">
    <div class="grid grid-cols-1 gap-4">
      <div>
        <div class="text-2xl font-semibold mb-4">メモとか</div>
        {{ range first 5 (where .Site.Pages.ByDate.Reverse "Type" "in" site.Params.mainSections)}}
        <div>
          <div class="text-xl font-bold my-2"><a href="{{.RelPermalink}}">{{.Title}}</a></div>
          <time>{{.Date.Format "2006-01-02"}}</time>
        </div>
        {{ end }}
        <div class="my-5"><a href="note">もっと見る</a></div>
      </div>
  </section>
  
{{ end }}
